body {
  font: 14px Helvetica Neue;
  text-rendering: optimizeLegibility;
  padding: 10px;
  /*
  margin-top: 100px;
  margin-left: 50px;
  */
  overflow-y: scroll;
  width: 900px;
  margin: auto;
}

#info {
  padding-bottom: 10px;
}

#pmin {
  border: 0px solid;
  border-color:black;
  width: 14px;
  height: 14px;
  float: left;
  padding-right: 2px;
}

#pmax {
  float: left;
  border: 0px solid;
  border-color:black;
  width: 24px;
  height: 14px;
  padding-left: 2px;
}

#color-chart {
  float: left;
  border: 0px solid;
  border-color:black;
}

.color.palette {
  position: relative;
}

.color.palette .label {
  position: absolute;
  line-height: 54px;
  left: .4em;
  color: #000;
}

.color.palette .swatch {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.circle {
  /*stroke:black;*/
  /*stroke-width:2;*/
  fill:black;
}

.chart {
  margin-left: 0px;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
  /*
  border: 2px solid;
  border-color:black;
  */
}

.chart div {
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart rect {
  stroke: #C0C0C0;
  fill: white;
}

.chart text {
  fill: white;
  font-size: 12px;
}

.chart .y-labels {
  fill: black;
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
  font-family: sans-serif;
  font-size: 14px;
}

.chart .dot-text {
  fill:red;
  font-size: 15px;
}

.chart .axis-text {
  fill:black;
  font-size: 16px;
}



